.navbar{
    display: flex;
    font-size: 30px;
    gap:30px;
    background-color: yellow; 
    justify-content: space-evenly;
}
p{
    padding: 0px;
    margin: 0px;
}
.headerlinks{
    display: flex;
    justify-content:space-between;
    gap: 20px;
  
    
}
.text{
    display: flex;
    flex-direction: column;
    gap: 80px;
    

}
.navtext{
    margin-top: 30px;
}

.icon{
    display: flex;
    gap: 20px;
    font-size: 40px;
}

.footer{
    background-color: aqua;
}